body {
  background-color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.App {
  margin: 30px;
}

.App h1,
.App footer {
  text-align: center;
}

.App h1 {
  font-size: 48px;
}

.App footer {
  margin-top: 10px;
}
