.Meanings {
  display: block;
  background-color: #feffdf;
  padding: 25px;
  margin: 20px auto;
  border-radius: 50px;
  width: 75%;
  color: #22313f;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.Meanings h4 {
  font-size: 30px;
  color: darkblue;
}

.Meanings p {
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 420px) {
  .Meanings {
    width: 100%;
  }
}
