.SearchResults .wordAndPronunciation {
  display: block;
  background-color: #feffdf;
  padding: 20px;
  margin: 15px auto;
  border-radius: 50px;
  width: 25%;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.SearchResults .wordAndPronunciation h3 {
  font-size: 33px;
  color: darkblue;
  text-transform: capitalize;
}
